Repository scikit-adaptation/skada, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Examples, Tests, CI, datasets, tests-datasets, shallow, tests-shallow, deep, tests-deep, base

correct skorch references
  skada/deep/base.py
Labels: shallow, deep

add deprecated domainawarenet
  skada/deep/base.py
Labels: shallow, deep

add old comment
  skada/deep/base.py
Labels: shallow, deep

fix DomainAwareNet deprecator
  skada/deep/base.py
Labels: shallow, deep

add deprecated to pyproject.toml
  pyproject.toml
Labels: none

Use Flag for improving the management of CodeCov (#343)
  .github/workflows/testing.yml
  .github/workflows/testing_dataset.yml
  codecov.yml
Labels: CI

[TO_REVIEW] Add automatic target label masking to prevent data leakage (#330)
  examples/plot_how_to_use_skada.py
  skada/_ot.py
  skada/_pipeline.py
  skada/_utils.py
  skada/base.py
  skada/tests/test_pipeline.py
  skada/tests/test_reweight.py
  skada/tests/test_selector.py
Labels: Examples, shallow, tests-shallow, base

.github/labeler.yml:

# yamllint disable rule:indentation
Documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

Examples:
- changed-files:
  - any-glob-to-any-file: examples/**

Tests:
- changed-files:
  - any-glob-to-any-file: test/**

CI:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  - any-glob-to-any-file: .circleci/**

datasets:
- changed-files:
  - any-glob-to-any-file: skada/datasets/**

tests-datasets:
- changed-files:
  - any-glob-to-any-file: skada/datasets/tests/**

shallow:
- changed-files:
  - any-glob-to-any-file: skada/**

tests-shallow:
- changed-files:
  - any-glob-to-any-file: skada/tests/**

deep:
- changed-files:
  - any-glob-to-any-file: skada/deep/**

tests-deep:
- changed-files:
  - any-glob-to-any-file: skada/deep/tests/**

base:
- changed-files:
  - any-glob-to-any-file: skada/base.py
  - any-glob-to-any-file: skada/utils.py
  - any-glob-to-any-file: skada/_utils.py
  - any-glob-to-any-file: skada/_pipeline.py
