Repository scikit-adaptation/skada, pull requests merged in 2024-02, with the labels that each got.

#76 [MRG] JDOT Regressor
  conftest.py
  docs/source/all.rst
  examples/methods/plot_jdot_da.py
  skada/__init__.py
  skada/_ot.py
  skada/base.py
  skada/model_selection.py
  skada/tests/test_base.py
  skada/tests/test_ot.py
  skada/tests/test_utils.py
  skada/utils.py
Labels: algorithm

#90 Properly process `sample_weight` when using reweight adapters
  examples/plot_method_comparison.py
  skada/_reweight.py
  skada/base.py
  skada/tests/test_reweight.py
  skada/tests/test_scorer.py
  skada/tests/test_selector.py
Labels: domain-aware api

#92 Remove target labels in the method comparison example
  examples/plot_method_comparison.py
Labels: bug, documentation

#71 [TO_REVIEW] Modification source_target_merge function behaviours
  skada/_mapping.py
  skada/_subspace.py
  skada/_utils.py
  skada/tests/test_utils.py
  skada/utils.py
Labels: domain-aware api

#87 [MRG] Random shuffle domain aware splitter
  docs/source/all.rst
  examples/validation/plot_cross_validation_for_da.py
  skada/model_selection.py
  skada/tests/test_cv.py
  skada/tests/test_utils.py
  skada/utils.py
Labels: domain-aware api

#104 Convert `BaseSelector` to the metadata router
  skada/base.py
  skada/tests/test_selector.py
Labels: enhancement, domain-aware api

#106 Update `AdaptationOutput` to make `X` into an attribute
  skada/_reweight.py
  skada/base.py
  skada/tests/test_selector.py
  skada/tests/test_subspace.py
Labels: enhancement, domain-aware api

#94 [MRG] Add KMM method + example
  examples/methods/plot_kmm_reweighting.py
  skada/__init__.py
  skada/_reweight.py
  skada/tests/test_reweight.py
  skada/tests/test_utils.py
  skada/utils.py
Labels: algorithm

#75 [to_review] implementation of DASVM
  README.md
  docs/source/all.rst
  examples/methods/plot_dasvm.py
  skada/__init__.py
  skada/_self_labeling.py
  skada/tests/test_self_labeling.py
Labels: algorithm

#117 Update previously used dataset fixture
  conftest.py
  skada/tests/test_mapping.py
Labels: enhancement
