Repository scikit-adaptation/skada, pull requests merged in 2024-05, with the labels that each got.

#181 [MRG] Add TransferSubspaceLearning method
  README.md
  docs/source/all.rst
  examples/methods/plot_subspace.py
  examples/plot_method_comparison.py
  skada/__init__.py
  skada/_subspace.py
  skada/tests/test_subspace.py
  skada/utils.py
Labels: algorithm

#196 [MRG] Add officehome dataset
  skada/datasets/__init__.py
  skada/datasets/_office_home.py
  skada/datasets/tests/test_office_home.py
Labels: dataset

#199 [TO_REVIEW] Add n_neighbours as an arg of NN RW
  skada/_reweight.py
  skada/tests/test_reweight.py
Labels: documentation, enhancement
