Repository scikit-adaptation/skada, pull requests merged in 2024-04, with the labels that each got.

#149 [MRG] Propagate adaptation output through multiple steps
  skada/_pipeline.py
  skada/_reweight.py
  skada/base.py
  skada/metrics.py
  skada/tests/test_reweight.py
  skada/tests/test_selector.py
Labels: bug, domain-aware api

#140 [MRG] Implementation of the TJM method
  README.md
  docs/source/all.rst
  examples/methods/plot_subspace.py
  ignore-words.txt
  skada/__init__.py
  skada/_subspace.py
  skada/tests/test_subspace.py
Labels: algorithm

#170 Allow multi dim inputs through the pipeline
  skada/base.py
  skada/tests/test_pipeline.py
  skada/tests/test_self_labeling.py
  skada/utils.py
Labels: enhancement, domain-aware api

#172 Fix sign for source/targets in the HowTo docs
  examples/plot_how_to_use_skada.py
Labels: documentation

#174 Make deep DA methods compatible with GPU
  skada/deep/base.py
Labels: deep

#176 Update documentation
  README.md
  docs/source/all.rst
  docs/source/quickstart.md
  examples/plot_how_to_use_skada.py
Labels: documentation

#169 [MRG] Fix issue of the circular validation with deep models
  skada/deep/tests/test_deep_scorer.py
  skada/metrics.py
Labels: bug
