Repository scikit-adaptation/skada, pull requests merged in 2024-03, with the labels that each got.

#123 Remove masked inputs only if estimator does not accept `sample_domain`
  skada/_utils.py
  skada/base.py
  skada/tests/test_pipeline.py
  skada/tests/test_selector.py
Labels: enhancement, domain-aware api

#128 No need for mark-as-final operation
  skada/_pipeline.py
  skada/base.py
Labels: enhancement, domain-aware api

#93 [MRG] Add TarS method
  README.md
  conftest.py
  docs/source/all.rst
  examples/plot_method_comparison.py
  skada/__init__.py
  skada/_reweight.py
  skada/tests/test_reweight.py
Labels: algorithm

#129 Selector to avoid filtering out masked samples when fitting transformer
  skada/_utils.py
  skada/base.py
  skada/tests/test_selector.py
Labels: domain-aware api

#103 [MRG] Add LS-ConS method
  README.md
  docs/source/all.rst
  examples/plot_method_comparison.py
  skada/__init__.py
  skada/_mapping.py
  skada/tests/test_mapping.py
  skada/tests/test_utils.py
  skada/utils.py
Labels: algorithm

#142 `SelectSource` and `SelectTarget` selectors
  skada/base.py
  skada/tests/test_selector.py
Labels: domain-aware api

#145 `SelectSourceTarget` selector
  skada/__init__.py
  skada/_pipeline.py
  skada/_utils.py
  skada/base.py
  skada/tests/test_selector.py
Labels: domain-aware api

#108 [MRG] Implementation of 1NN reweighting and reweighting example implementation
  README.md
  docs/source/all.rst
  docs/source/conf.py
  docs/source/quickstart.md
  docs/source/scorer.rst
  examples/methods/plot_kmm_reweighting.py
  examples/methods/plot_reweighting.py
  examples/plot_how_to_use_skada.py
  examples/plot_method_comparison.py
  skada/__init__.py
  skada/_reweight.py
  skada/tests/test_reweight.py
  skada/tests/test_scorer.py
  skada/utils.py
Labels: algorithm

#156 [MRG] Fix Tars & MMDSConS
  conftest.py
  skada/_mapping.py
  skada/_reweight.py
  skada/tests/test_mapping.py
  skada/tests/test_reweight.py
Labels: bug, algorithm

#157 [TO_REVIEW] Add the auto/scale mode in KLIEP
  skada/_reweight.py
  skada/tests/test_reweight.py
Labels: enhancement, algorithm

#158 [MRG] Add predict_proba to DA_SVM
  skada/_self_labeling.py
  skada/tests/test_self_labeling.py
Labels: enhancement
